<mat-toolbar color="primary">
    <span>Cafeteria - Seleccione los adicionales para su Café</span>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile (click)="leche = !leche">
        Leche 
        <i *ngIf="leche" class="material-icons">check_circle</i>
    </mat-grid-tile>
    <mat-grid-tile (click)="cacao = !cacao">
        Cacao
        <i *ngIf="cacao" class="material-icons">check_circle</i>
    </mat-grid-tile>
    <mat-grid-tile (click)="chocolate = !chocolate">
        Chocolate
        <i *ngIf="chocolate" class="material-icons">check_circle</i>
    </mat-grid-tile>
    <mat-grid-tile (click)="ron = !ron">
        Ron
        <i *ngIf="ron" class="material-icons">check_circle</i>
    </mat-grid-tile>
</mat-grid-list>
<button class="button-comprar" (click)="comprar()" mat-raised-button color="primary">Comprar</button>
